$whiteColor: #fff;
$lightBlue: #deedf0;
$blueColor: #2081C3;
$torquiseColor: #68AAAB;
$charcoalBrown: #4A4A4A;
$lightGrey: #7E7E7E;

html, body {
    height: 100%;
    background-color: $lightBlue;
  }

  h1, h1, h3, h4, span, p{
    font-family: 'Open Sans', sans-serif;
}
.container{
    .nav-bar{
        background-color: $whiteColor;
        -webkit-box-shadow: 0 0 3px grey;
        box-shadow: 0 0 3px grey;
        
        .user-logo{
            height: 64px;
            display:flex ;
            justify-content: center;
            align-items: center;
            img{
                height: 2rem;
            }
            .h4{
                font-size: 20px;
                text-transform: uppercase;
                color: $charcoalBrown;
                padding: 10px;
                font-weight: 200;          
            }
        }
    }

}